<!DOCTYPE html>
<html>
<head>
    {% if title %}
        <title>Sign in to {{ title }}</title>
    {% else %}
        <title>Sign in to AKblog</title>
    {% endif %}
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="https://assets-cdn.github.com">
    <link rel="dns-prefetch" href="https://avatars0.githubusercontent.com">
    <link rel="dns-prefetch" href="https://avatars1.githubusercontent.com">
    <link rel="dns-prefetch" href="https://avatars2.githubusercontent.com">
    <link rel="dns-prefetch" href="https://avatars3.githubusercontent.com">
    <link rel="dns-prefetch" href="https://github-cloud.s3.amazonaws.com">
    <link rel="dns-prefetch" href="https://user-images.githubusercontent.com/">
    <link crossorigin="anonymous" media="all"
          integrity="sha512-KDZfnHRZjn4xEe2VuPe5iA8c+O1aNoowrYTe3DQQR97UQDzf5HZ15My/ytImCLmX5X6kBM8kwtuUVj5H+DOZbA=="
          rel="stylesheet" href="https://assets-cdn.github.com/assets/frameworks-7d09971c51977b60c6626362003ef38a.css">
    <link crossorigin="anonymous" media="all"
          integrity="sha512-8VnmS7+S4UIxsIz2BC4F/c3YYbRNB/GEcCQ6AssRT3F3s6sObMSaw8K9ijW0SyurkWRxN/dPT/DV/+4GjWcFrA=="
          rel="stylesheet" href="https://assets-cdn.github.com/assets/github-324331281b788158086ad9201d9c0804.css">
    <link crossorigin="anonymous" media="all"
          integrity="sha512-VxZgLPiRT4wMogNRwy9qVO15+ta9te/mxcvjePEjWO2b2X0gEhyzdPUdn+4AHiRMvxhOPuh5U2UA1DLmOXcKBQ=="
          rel="stylesheet" href="https://assets-cdn.github.com/assets/site-83dc1f7ebc9c7461fe1eab799b56c4c4.css">
    <meta name="viewport" content="width=device-width">
    <title>Sign in to GitHub · GitHub</title>
    <meta name="description"
          content="GitHub is where people build software. More than 27 million people use GitHub to discover, fork, and contribute to over 80 million projects.">
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="GitHub">
    <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub">
    <meta property="fb:app_id" content="1401488693436528">
    <meta property="og:url" content="https://github.com">
    <meta property="og:site_name" content="GitHub">
    <meta property="og:title" content="Build software better, together">
    <meta property="og:description"
          content="GitHub is where people build software. More than 27 million people use GitHub to discover, fork, and contribute to over 80 million projects.">
    <meta property="og:image" content="https://assets-cdn.github.com/images/modules/open_graph/github-logo.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">
    <meta property="og:image" content="https://assets-cdn.github.com/images/modules/open_graph/github-mark.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="620">
    <meta property="og:image" content="https://assets-cdn.github.com/images/modules/open_graph/github-octocat.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="620">
    <link rel="assets" href="https://assets-cdn.github.com/">
    <meta name="pjax-timeout" content="1000">
    <meta name="request-id" content="D948:26A5:273E3ED:3C9CFBD:5ABF979C" data-pjax-transient="">
    <meta name="selected-link" value="/login" data-pjax-transient="">
    <meta name="google-site-verification" content="KT5gs8h0wvaagLKAVWq8bbeNwnZZK1r1XQysX3xurLU">
    <meta name="google-site-verification" content="ZzhVyEFwb7w3e0-uOTltm8Jsck2F5StVihD0exw2fsA">
    <meta name="google-site-verification" content="GXs5KoUUkNCoaAZn7wPN-t01Pywp9M3sEjnt_3_ZWPc">
    <meta name="google-analytics" content="UA-3769691-2">
    <meta name="octolytics-host" content="collector.githubapp.com">
    <meta name="octolytics-app-id" content="github">
    <meta name="octolytics-event-url" content="https://collector.githubapp.com/github-external/browser_event">
    <meta name="octolytics-dimension-request_id" content="D948:26A5:273E3ED:3C9CFBD:5ABF979C">
    <meta name="octolytics-dimension-region_edge" content="sea">
    <meta name="octolytics-dimension-region_render" content="iad">
    <meta name="hydro-events-url" content="https://github.com/hydro_browser_events">
    <meta name="analytics-location-query-strip" content="true" data-pjax-transient="true">
    <meta class="js-ga-set" name="dimension1" content="Logged Out">
    <meta name="js-proxy-site-detection-payload"
          content="NzViMWJkZmIyMTQyMmVmMjIzMDA3Y2ViNjYzNmIyMTIxNTA4Y2U2YjZjODMwOGY4OTk2MDkzNzU2OGE2ZmVjZnx7InJlbW90ZV9hZGRyZXNzIjoiMTcyLjk2LjIwOC42NiIsInJlcXVlc3RfaWQiOiJEOTQ4OjI2QTU6MjczRTNFRDozQzlDRkJEOjVBQkY5NzlDIiwidGltZXN0YW1wIjoxNTIyNTA1NjI5LCJob3N0IjoiZ2l0aHViLmNvbSJ9">
    <meta name="enabled-features"
          content="UNIVERSE_BANNER,FREE_TRIALS,MARKETPLACE_INSIGHTS,MARKETPLACE_INSIGHTS_CONVERSION_PERCENTAGES">
    <meta name="html-safe-nonce" content="6c3f588cd12652c0bab2839c32059f746a4f188e">
    <meta http-equiv="x-pjax-version" content="2a8622940bb010d0ebdd41ecb8362bdb">
    <meta name="description"
          content="GitHub is where people build software. More than 27 million people use GitHub to discover, fork, and contribute to over 80 million projects.">
    <link rel="canonical" href="https://github.com/login" data-pjax-transient="">
    <meta name="browser-stats-url" content="https://api.github.com/_private/browser/stats">
    <meta name="browser-errors-url" content="https://api.github.com/_private/browser/errors">
    <link rel="mask-icon" href="https://assets-cdn.github.com/pinned-octocat.svg" color="#000000">
    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="https://assets-cdn.github.com/favicon.ico">
    <meta name="theme-color" content="#1e2327">
    <meta name="u2f-support" content="true">
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">


    {#    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">#}
    {#    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">#}
    {#    <script src="http://code.jquery.com/jquery-latest.js"></script>#}
    {#    <script src="/static/js/bootstrap.min.js"></script>#}
    {#    <script src="/static/js/moment.min.js"></script>#}
    <script src="/static/js/md5.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="logged-out env-production page-responsive min-width-0 session-authentication">


<div class="position-relative js-header-wrapper ">
    <a href="#start-of-content" tabindex="1" class="px-2 py-4 show-on-focus js-skip-to-content">Skip to content</a>
    <div id="js-pjax-loader-bar" class="pjax-loader-bar">
        <div class="progress"></div>
    </div>


    <div class="header header-logged-out width-full pt-5 pb-4" role="banner">
        <div class="container clearfix width-full text-center">
            <a class="header-logo" href="/" aria-label="Homepage"
               data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
{#                <svg height="48" class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" width="48"#}
{#                     aria-hidden="true">#}
{#                    <path fill-rule="evenodd"#}
{#                          d="M7 0 L3 10 L11 10 Z"></path>#}
{#                </svg>#}
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="40" width="45">
                    <path id="lineAB" d="M 5 35 l 15 -30" stroke="black" stroke-width="1" fill="none"/>
                    <path id="lineBC" d="M 20 5 l 15 30" stroke="black" stroke-width="1" fill="none"/>
                    <path d="M 5 35 q 15 -30 30 0" stroke="black" stroke-width="1" fill="none"/>
                    <!-- Mark relevant points -->
                    <g stroke="black" stroke-width="3" fill="black">
                        <circle id="pointA" cx="5" cy="35" r="1"/>
                        <circle id="pointB" cx="20" cy="5" r="1"/>
                        <circle id="pointC" cx="35" cy="35" r="1"/>
                    </g>
                </svg>
            </a>
        </div>
    </div>


</div>

<div id="start-of-content" class="show-on-focus"></div>
<div role="main" class="application-main ">
    <div id="js-pjax-container" data-pjax-container="">
        <div class="auth-form px-3" id="login">
            <!-- '"` --><!-- </textarea></xmp> -->
            <form class="form" action="" method="post" name="login" accept-charset="UTF-8"
                  onsubmit="return checkpassword()">
                {% csrf_token %}
                <input name="utf8" type="hidden" value="✓">
                <input type="hidden" name="authenticity_token"
                       value="z4anVsSJAoXwH2R3TfeQ0soC1GJlTm9gRjcuJ6t0Uce0mK1MGc4S/Xcbrcw5y3/BpN5BiCstda2tuTnkBmmelA==">
                <div class="auth-form-header p-0">
                    <h1>Sign in to AKblog</h1>
                </div>
                <div id="js-flash-container">
                </div>
                <div class="auth-form-body mt-3">
                    <label for="login_field">
                        Username or email address
                    </label>
                    <input type="text" name="username" id="username" placeholder="username or email"
                           class="form-control input-block" tabindex="1"
                           autocapitalize="off" autocorrect="off" autofocus="autofocus" required="required">
                    <label for="password">
                        Password <a class="label-link" href="/password_reset">Forgot password?</a>
                    </label>
                    <input type="password" name="password" id="password" placeholder="password"
                           class="form-control form-control input-block"
                           tabindex="2" required="required">
                    <input type="submit" name="submit" value="Sign in" tabindex="3" class="btn btn-primary btn-block"
                           data-disable-with="Signing in…">
                </div>
            </form>
            <p class="create-account-callout mt-3">
                New to AKblog?
                <a data-ga-click="Sign in, switch to sign up"
                   href="/register">Create an account</a>.
            </p>
        </div>

    </div>
    <div class="modal-backdrop js-touch-events"></div>
</div>

{#<div class="footer container-lg p-responsive py-6 mt-6 f6" role="contentinfo">#}
{#    <ul class="list-style-none d-flex flex-justify-center">#}
{#        <li class="mr-3"><a href="/site/terms" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>#}
{#        <li class="mr-3"><a href="/site/privacy" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>#}
{#        <li class="mr-3"><a href="https://help.github.com/articles/github-security/"#}
{#                            data-ga-click="Footer, go to security, text:security">Security</a></li>#}
{#        <li><a class="link-gray" data-ga-click="Footer, go to contact, text:contact" href="https://github.com/contact">Contact#}
{#            GitHub</a></li>#}
{#    </ul>#}
{#</div>#}
<div id="ajax-error-message" class="ajax-error-message flash flash-error">
    <svg class="octicon octicon-alert" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
        <path fill-rule="evenodd"
              d="M8.865 1.52c-.18-.31-.51-.5-.87-.5s-.69.19-.87.5L.275 13.5c-.18.31-.18.69 0 1 .19.31.52.5.87.5h13.7c.36 0 .69-.19.86-.5.17-.31.18-.69.01-1L8.865 1.52zM8.995 13h-2v-2h2v2zm0-3h-2V6h2v4z"></path>
    </svg>
    <button type="button" class="flash-close js-ajax-error-dismiss" aria-label="Dismiss error">
        <svg class="octicon octicon-x" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true">
            <path fill-rule="evenodd"
                  d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path>
        </svg>
    </button>
    You can't perform that action at this time.
</div>
<script crossorigin="anonymous"
        integrity="sha512-bDFUXMGHFddte8PoN8CW5xNr/0w/9Zrfsjun90gr7lJdc7w5+NLGNrJHTPFeaZa5ph1MzSTQg7fqTg/CI95fSw=="
        type="application/javascript"
        src="https://assets-cdn.github.com/assets/frameworks-c566e2adb34ea4706cec5d285e57dd1d.js"></script>

<script crossorigin="anonymous" async="async"
        integrity="sha512-QKerAmbi8RFAfjUvkdjUZNeOk7x3IoYJhiCCTJbn/v17op8fggb0zxJw0denloKM0lPiHUKs2iE4+nUMj+Q7Yw=="
        type="application/javascript"
        src="https://assets-cdn.github.com/assets/github-12f0557a92f0fb40861429376cb054d5.js"></script>
<div class="js-stale-session-flash stale-session-flash flash flash-warn flash-banner d-none">
    <svg class="octicon octicon-alert" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
        <path fill-rule="evenodd"
              d="M8.865 1.52c-.18-.31-.51-.5-.87-.5s-.69.19-.87.5L.275 13.5c-.18.31-.18.69 0 1 .19.31.52.5.87.5h13.7c.36 0 .69-.19.86-.5.17-.31.18-.69.01-1L8.865 1.52zM8.995 13h-2v-2h2v2zm0-3h-2V6h2v4z"></path>
    </svg>
    <span class="signed-in-tab-flash">You signed in with another tab or window. <a href="">Reload</a> to refresh your session.</span>
    <span class="signed-out-tab-flash">You signed out in another tab or window. <a href="">Reload</a> to refresh your session.</span>
</div>
<div class="facebox" id="facebox" style="display:none;">
    <div class="facebox-popup">
        <div class="facebox-content" role="dialog" aria-labelledby="facebox-header"
             aria-describedby="facebox-description">
        </div>
        <button type="button" class="facebox-close js-facebox-close" aria-label="Close modal">
            <svg class="octicon octicon-x" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path>
            </svg>
        </button>
    </div>
</div>
<div class="Popover js-hovercard-content position-absolute" style="display: none; outline: none;" tabindex="0">
    <div class="Popover-message Popover-message--bottom-left Popover-message--large Box box-shadow-large"
         style="width:360px;">
    </div>
</div>
<script type="text/javascript">
    function checkpassword() {
        var pwd = document.getElementById('password');
        pwd.value = md5(pwd.value);
        alert(pwd.value);
        return true;
    }
</script>

</body>


{#<body style="background: #5A5AAD;">#}
{#<div class="well" style="margin-left:auto; margin-right:auto; margin-TOP:10%; width:25em; text-align:center;">#}
{#    <h1>Please Sign In !</h1>#}
{#    <form class="form" action="" method="post" name="login" onsubmit="return checkpassword()">#}
{#        {% csrf_token %}#}
{#{{form.hidden_tag()}}#}
{#        <div class="help-block" style="text-align:left">Username</div>#}
{#        <div class="controls">#}
{#            <input class="span input-block-level" id="username" name="username" autofocus="autofocus"#}
{#                   placeholder="Username" type="text" value="" required="required">#}
{#            {% for error in form.errors.username %}#}
{#                <span class="help-inline">[{{ error }}]</span><br>#}
{#            {% endfor %}#}
{#        </div>#}
{#        <div class="help-block" style="text-align:left">Password</div>#}
{#        <div class="controls">#}
{#            <input class="span input-block-level" id="password" name="password" placeholder="Password" type="password"#}
{#                   value="" required="required">#}
{#            {% for error in form.errors.password %}#}
{#                <span class="help-inline">[{{ error }}]</span><br>#}
{#            {% endfor %}#}
{#        </div>#}
{#        <div class="control-group">#}
{#            <div style="text-align:middle">#}
{#                <label class="checkbox inline" for="remember_me">#}
{#                    <input checked="" id="remember_me" name="remember_me" type="checkbox" value="y">#}
{#                    Remember Me#}
{#                </label>#}
{#            </div>#}
{#        </div>#}
{#        <div class="control-group">#}
{#            <div class="controls">#}
{#                <input class="btn btn-primary btn-block" type="submit" value="Sign in">#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
{#    <div class="control-group">#}
{#        <div class="controls">#}
{#            <input class="btn btn-primary btn-block" type="button" onclick="location.href='/register'"#}
{#                   value="New guy? Register here!">#}
{#        </div>#}
{#    </div>#}
{#    <script type="text/javascript">#}
{#        function checkpassword() {#}
{#            var pwd = document.getElementById('password');#}
{#            pwd.value = md5(pwd.value);#}
{#            return true;#}
{#        }#}
{#    </script>#}
{#</div>#}
{#</body>#}
</html>