<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% for user_per in userlist %}
        {% include 'user_per.html' %}
    {% endfor %}
    <script type="text/javascript">
        $(function () {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            };

            <!--获取csrftoken-->
            var csrftoken = getCookie('csrftoken');
            console.log(csrftoken);

            //Ajax call
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            };
            $('button#follow').click(function (e) {
                var target = e.target;
                console.log(target.innerText);
                username = target.name;
                var data = {
                    "username": username,
                    {#                    "csrfmiddlewaretoken": "{{ csrf_token }}"#}
                };
                $.ajaxSetup({
                    crossDomain: false, // obviates need for sameOrigin test
                    //请求前触发
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type)) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
                if (target.innerText == "Follow") {
                    $.ajax({
                        url: "http://localhost:8080/follow/",
                        // Access-Control-Allow-Origin: "http://192.168.151.249",
                        // referer: "http://localhost:8080/",
                        // "X-CSRFToken": "{{ csrf_token }}",
                        type: "post",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        // data: JSON.stringify(data),
                        data: JSON.stringify(data),
                        success: function (data, textStatus) {
                            alert(`You have followed ${username}`)
                            n = data.Data;
                            $('span[name=followeds]').text(n);
                            $(target).attr('class', 'btn btn-warning').text("Unfollow")
                            // console.log(2, textStatus);
                            // console.log(data);
                            // console.log(data.Meta.RetCode)
                            // console.log(data.Data);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            // console.log(XMLHttpRequest);
                            alert('Some error has occured, try again later')
                            // console.log(XMLHttpRequest.status);
                            // console.log(textStatus);
                            // console.log(errorThrown);
                        }
                    });
                }
                else {
                    $.ajax({
                        url: "http://localhost:8080/unfollow/",
                        type: "post",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        data: JSON.stringify(data),
                        success: function (data) {
                            alert(`You have unfollowed ${username}`)
                            n = data.Data;
                            $('span[name=followeds]').text(n);
                            $(target).attr('class', 'btn btn-success').text("Follow")
                        },
                        error: function () {
                            alert('Some error has occured, try again later')
                        }
                    });
                }

                // $('ul[name=a1] li[name=open]').attr('name','close').text('close')
            });
            // ========thumbup========
            $('i.fa.fa-thumbs-up').click(function (e) {
                var target = e.target;
                var data = {};
                if (target.id == "imuser") {
                    var postid = $(target).parent().attr('name');
                    data = {
                        "username": postid
                    };
                }
                else {
                    var username = $(target).parent().attr('name');
                    data = {
                        "postid": username
                    };
                }
                var num = $(target).parent().parent().find('#thumbup_num');
                $.ajaxSetup({
                    crossDomain: false, // obviates need for sameOrigin test
                    //请求前触发
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type)) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
                $.ajax({
                    url: "http://localhost:8080/thumbup/",
                    // Access-Control-Allow-Origin: "http://192.168.151.249",
                    // referer: "http://localhost:8080/",
                    // "X-CSRFToken": "{{ csrf_token }}",
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    data: JSON.stringify(data),
                    // data: data,
                    success: function (data, textStatus) {
                        alert('Thumbup recieved!');
                        var n = data.Data;
                        num.text(n);
                        // console.log(2, textStatus);
                        // console.log(data);
                        // console.log(data.Meta.RetCode)
                        // console.log(data.Data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        // console.log(XMLHttpRequest);
                        alert('Some error has occured, try again later');
                        // console.log(XMLHttpRequest.status);
                        // console.log(textStatus);
                        // console.log(errorThrown);
                    }
                });
            });
        });
    </script>
{% endblock %}